.about-us-page {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.about-us-page header {
  margin-bottom: 30px;
}

.about-us-page h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.about-us-page p {
  font-size: 16px;
  color: #666;
}

.about-us-page .team-members {
  margin-bottom: 30px;
}

.about-us-page .member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.about-us-page .member {
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-us-page .member:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-page .member:nth-child(odd) {
  margin-bottom: 30px;
}

.about-us-page .member h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.about-us-page .member p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.about-us-page .member .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.about-us-page .member .contact img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.about-us-page .member .contact img:hover {
  opacity: 0.8;
}

.about-us-page footer {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
  text-align: center;
}


@media (max-width: 600px) {
  .about-us-page .member {
    width: 100%;
  }
}

body {
  font-family: 'Arial', sans-serif;
}



.about-us-page h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.about-us-page .member:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 480px) {
  .about-us-page .member {
    width: 100%;
    margin: 15px 0;
  }

  .about-us-page .member:nth-child(odd) {
    margin-bottom: 15px;
  }
}
