.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.box {
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;

}
.btn-group-toggle .btn {
  margin-right: 10px;
}
